body{
    display: flex;
    flex-direction: column;
}

 my-desktop-footer{
     margin-top:auto;
     font-family: 'Raleway', sans-serif;    
     font-size: 2vw;
     background-color: #BFBFBF;
 }

 .email-footer, .phone-footer{
    font-size: 1.5vw;
 }

 .footer-content{
     padding: 3vw 0vw;
 }

 .company-name{
     font-size: 3vw;
 }