my-desktop-header{
    background-color: #242424;
    font-family: 'Raleway', sans-serif;    
}

.menus-and-informations{
    color: #BFBFBF;
    padding-bottom: 40px;
    font-size: 17px;
    padding-top: 18px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 21px;
}

.page1, .page2, .page3{
    margin-right: 21px;
}

.information2{
    margin-left: 21px;
}

.logo-and-button{
    align-items: center;
    padding: 0px 45px;
    padding-top: 35px;
    padding-bottom: 18px;
}

.logo > a > img{
    height: 55px;
    width: 215.45px;
}

a:visited, a:hover, a:active, a:link{
    text-decoration:none;
    color: #BFBFBF;
}

.buttonText{
    color: #F1BF11;
    font-size: 17px;
    border:#F1BF11 solid 3px;
    padding: 5px 15px;
}

.buttonText > a{
    color: #F1BF11;
}

hr{
    background-color:#BFBFBF;
    height: 3px !important;
    opacity: 100%;
    margin: 0px 45px;
}