.home-page{
    background-color: #242424;
    font-family: 'Raleway', sans-serif;    
}

/* Slider */
.carousel-indicators >  button { 
    width: 1.4rem !important;
    height: 1.4rem !important;
    margin-right: 0.625rem !important;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.945) !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    width: 3.75rem;
    height: 3.438rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.carousel-caption{
    top: 38%;
}

.caption{
    padding-bottom: 3.75rem;
    font-size: 3.438rem;
    color: rgba(0, 0, 0, 0.945);
}

/* Introduction */

.red-line{
    background-color: #FF0000;
    opacity: 100%;
    width: 20%;
    margin: 1.25rem auto;
    height: 0.188rem !important;
    margin-bottom: 0.938rem;
}

.introduction-title{
    color: white;
    text-transform: uppercase;
    font-size: 1.75rem;
}

.image-and-text{
    padding-top: 1.563rem;
    padding-bottom: 4.375rem;
    margin: 0 auto;
}

.image, .text{
   border: #BFBFBF 0.125rem solid;
   color: white;
}

.text{
    width: 40%;
    text-align: center;
    padding: 1.25rem 2.5rem;
    font-size: 1.5rem;
    align-items: center;
}

.image{
    background-image: url(aboutMeImage.jpg); /* !!!!!!!!!!!!*/
    background-size: cover;
    min-height: 20rem;
    background-position: center;
    width: 30%;
    margin-right: 1.25rem;
}