footer{
    background-color: #BFBFBF;
}

.mobile-email-footer, .mobile-phone-footer, .mobile-company-name{
    color: black;
    text-align: center;
    font-size: 3vw;
}

.mobile-company-name{
    font-size: 4.5vw;
    font-weight: 500;
}