.my-logo{
    width: 30vw;
    height: 9vw;
    margin-right: 10.5%;
}

nav {
    background-color: #242424;
}

.navbar{
    padding: 8vw 0vw;
}

#logo-wrap{
    display: flex;
    justify-content: space-between;
}

.navbar-toggler {
    font-size: 3vw;
    padding: 0vw 2.5vw;
    border-color:#BFBFBF;
    margin-left: -68.5%;
}

.nav-link, .nav-link:visited, .nav-link:hover{
    color:#BFBFBF;
    text-decoration: none;
    margin-left: 1.5vw;
    font-size: 3vw;
}

.fa-bars{
    color: #BFBFBF;
    font-size: 5vw;
}


.nav-item > a:hover {
    color: #F1BF11;
    cursor: pointer;
}

.mobile-active-link, .mobile-active-link > a{
    font-weight: 700;
    color: #F1BF11 !important;
}